.mat-button {
  font-family: "Open Sans";
  font-size: 16px !important;
  font-weight: 600;
}

.center {
  display: flex;
  justify-content: center;
  flex-direction: row;
  justify-items: center;
}

.flex-left {
  display: flex;
  flex-flow: row wrap;
  lign-items: flex-start;
}

.mat-header-cell {
  font-size: 14px;
  font-weight: 400;
  color: black;
  opacity: unset;
}


.mat-cell {
  font-size: 12px !important;
  font-weight: 400;
}
