<div class="flex-end">
  <a (click)="goToAtividadeCreate()" mat-button>NOVA ATIVIDADE</a>
</div>

<div class="example-container mat-elevation-z8" *ngIf="atividades?.length>0">
  <mat-table #table [dataSource]="atividades">

    <ng-container matColumnDef="atividade">
      <mat-header-cell *matHeaderCellDef>Atividades</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.nome}}</mat-cell>
    </ng-container>


    <ng-container matColumnDef="membros">
      <mat-header-cell *matHeaderCellDef>Membros</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <div class="flex-left">
          <p *ngIf="element.membros?.length==0">___</p>

          <ngx-avatar *ngFor="let membro of element.membros"
                      bgColor="#388E3C" fgColor="#FFFFFF"
                      [round]="true" initialsSize="2" class="avatar"
                      size="42" [name]="membro.funcNome" style="margin-left: 10px !important">
          </ngx-avatar>
        </div>


      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="prazo">
      <mat-header-cell *matHeaderCellDef>Prazo</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.data_inicial}} {{element.data_final}}</mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>

<p class="center" *ngIf="atividades?.length===0"> Nenhuma atividade foi cadastrada para este projeto</p>

