.flex-end {
  display: flex;
  justify-content: flex-end;
  color: #388E3C;
  opacity: 1;
}

.mat-button {
  font-family: "Open Sans", "Condensed Bold";
  font-size: 16px !important;
  font-weight: bold;
}

.center {
  display: flex;
  justify-content: center;

}
