.mat-card {
  display: flex;
  flex-direction: column;
  margin: 10px;
  max-height: 605px !important;
  overflow-y: auto;
  width: 378px !important;
}

.full-width {
  width: 100%;
}

.mat-card-link {
  font-size: 16px;
  font-weight: bold;
  color: #388E3C;
  font-family: 'Open Sans', 'Condensed Bold';
  padding: 5px;
}

.mat-card-link:hover {
  cursor: pointer;
}

.center {
  display: flex;
  justify-content: center;
}

.mat-card-title {
  font-size: 20px;
  font-family: 'Open Sans', 'Condensed Bold';
  font-weight: bold;
}


