.mat-card {
  display: flex;
  flex-direction: column;
  margin: 10px;
  max-height: 605px !important;
  width: 378px !important;
}

.full-width {
  width: 100%;
}

.mat-card-link {
  font-size: 16px;
  font-weight: bold;
  color: #388E3C;
  font-family: 'Open Sans Condensed';
  padding: 10px;
}

.mat-card-link:hover {
  cursor: pointer;
}

.mat-card-title {
  font-size: 20px;
  font-weight: 600;
}

.name-dispendio {
  font-size: 16px;
  font-weight: 600;
  opacity: 0.87;
}

.tipo-dispendio {
  font-size: 12px;
  font-weight: 400;
  opacity: 0.54;
}

.mat-card-content {
  max-height: 545px !important;
  overflow-y: auto;
}




