<mat-card>

  <mat-card-header>
    <mat-card-title> Solicitações</mat-card-title>
  </mat-card-header>

  <mat-card-content style="height: 550px; overflow-y: auto"
                    *ngIf="listDispendiosPendentes?.length>0">
    <table class="full-width" cellspacing="0">
      <tr *ngFor="let dispendio of listDispendiosPendentes">
        <mat-divider></mat-divider>
        <td>
          <p style="font-size: 20px;"> {{dispendio.prdiFuncId?.funcNome}}</p>
          <p style="font-size: 16px;"> {{dispendio.prdiTituloFatura}}</p>
          <p style="font-size: 12px;"> {{dispendio.prdiTidiId?.tidiNome}}</p>
        </td>
        <td>
          <p>{{dispendio.prdiValor | currency: 'BRL'}}</p>
        </td>
        <td>
          <button mat-icon-button style="color:#4CAF50;" (click)="aprovar(dispendio)">
            <mat-icon>done</mat-icon>
          </button>
        </td>
        <td>
          <button mat-icon-button style="color:#F44336;" (click)="reprovar(dispendio)">
            <mat-icon>clear</mat-icon>
          </button>
        </td>
      </tr>
    </table>

  </mat-card-content>

  <a *ngIf="listDispendiosPendentes?.length>0" class="mat-card-link center" (click)="verTodos()">VER TODOS</a>

  <p *ngIf="listDispendiosPendentes?.length===0"> Sem dispêndio para aprovação</p>

</mat-card>
