<mat-card>

  <mat-card-header>
    <mat-card-title> Solicitações</mat-card-title>
  </mat-card-header>

  <mat-card-content *ngIf="listDispendiosPendentes?.length>0">
    <table class="full-width" cellspacing="0">
      <tr *ngFor="let dispendio of listDispendiosPendentes">

        <td>
          <span class="title-projeto-detalhe"> {{dispendio.prdiFuncId?.funcNome}}</span><br>
          <span class="name-dispendio"> {{dispendio.prdiTituloFatura}}</span><br>
          <span class="tipo-dispendio">{{dispendio.prdiTidiId?.tidiNome}}</span><br>
          <span class="title-projeto-detalhe">{{dispendio.prdiValor | currency: 'BRL'}}</span>
        </td>
        <td>
          <button mat-icon-button style="color:#4CAF50;" (click)="aprovar(dispendio)">
            <mat-icon>done</mat-icon>
          </button>
        </td>
        <td>
          <button mat-icon-button style="color:#F44336;" (click)="reprovar(dispendio)">
            <mat-icon>clear</mat-icon>
          </button>
        </td>
        <mat-divider></mat-divider>
      </tr>
    </table>

  </mat-card-content>

  <mat-card-footer *ngIf="listDispendiosPendentes?.length>0">
    <a class="mat-card-link flex-center" (click)="verTodos()">VER MAIS</a>
  </mat-card-footer>


  <p *ngIf="listDispendiosPendentes?.length===0"> Sem dispêndio para aprovação</p>

</mat-card>
