<div class="container" [class.is-mobile]="mobileQuery.matches">

  <mat-toolbar color="primary" class="toolbar" #mattoolbar>

    <button mat-icon-button (click)="backClicked()" *ngIf="!(toolbarItem$ | async)?.title">
      <mat-icon>chevron_left</mat-icon>
    </button>


    <button #buttonmenu mat-icon-button (click)="sidenav.toggle()" *ngIf="(toolbarItem$ | async)?.title">
      <mat-icon *ngIf="sidenav.opened">chevron_left</mat-icon>
      <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
    </button>

    <span class="toolbar-title">{{(toolbarItem$ | async)?.title}}</span>

  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 70 : 0">
    <mat-sidenav #sidenav mode="'side'"
                 fixedInViewport="mobileQuery.matches" fixedTopGap="75">

      <mat-card>
        <mat-card-header>
          <div mat-card-avatar style="margin-right:10px">
            <ngx-avatar bgColor="#388E3C" fgColor="#FFFFFF"
                        [round]="true" initialsSize="2"
                        size="55" [name]="nomeUser">
            </ngx-avatar>
          </div>
          <mat-card-title>
            <a class="name-user">{{nomeUser}}</a>
          </mat-card-title>
          <mat-card-subtitle>
            <a *ngIf="nomeUser" class="logout" routerLink="/login" (click)="onLogout()">Logout</a>
          </mat-card-subtitle>
        </mat-card-header>
      </mat-card>
      <app-menus></app-menus>
    </mat-sidenav>
    <mat-sidenav-content>

      <router-outlet></router-outlet>
      <app-snackbar></app-snackbar>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>




