<div class="container" [class.is-mobile]="mobileQuery.matches" >

  <mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="app-name">SGP</h1>
    <div class="fill-remaining-space"></div>
      <input matInput type="text">
      <button mat-button>PESQUISAR</button>

  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 64 : 0">
    <mat-sidenav #sidenav mode="'side'"
                 fixedInViewport="mobileQuery.matches" fixedTopGap="64">
      <app-menus></app-menus>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>





