<div class="flex-end">
  <button mat-button (click)="excluirProjeto()">
    <span class="action-buttons" style="color: #F44336">EXCLUIR PROJETO</span>
  </button>
</div>


<div class="main-div">

  <mat-card class="card-projeto">
    <mat-card-content>
      <form [formGroup]="projetoForm">
        <input #anexo id="in-anexo" placeholder="Anexo" type="file" class="mat-input-element"
               formControlName="anexo" required hidden>

        <mat-form-field class="full-width-input">
          <input id="in-nro-termo" matInput placeholder="Termo Aditivo nº"
                 type="text" formControlName="projTermoReferencia" required>
          <mat-error>
            Informe número do termo aditivo
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width-input">
          <!--  <app-input-file formControlName="anexo" placeholder="Anexo"></app-input-file> !-->
          <input matInput value="{{anexo.value}}" placeholder="Anexo" (click)="anexo.click()">
          <mat-icon matSuffix>attach_file</mat-icon>
          <mat-hint>Buffer {{progressValue}}%</mat-hint>
          <mat-error>Informe o anexo</mat-error>
        </mat-form-field>

        <mat-input-container class="full-width-input" hintLabel="Max 80 caracteres">
          <input matInput placeholder="Título"
                 type="text" formControlName="projNome" required
                 maxlength="80">
          <mat-hint align="end">{{projetoForm.get('projNome').value?.length || 0}}/80</mat-hint>
          <mat-error *ngIf="projetoForm.get('projNome')?.invalid">
            Informe um título para o projeto
          </mat-error>
        </mat-input-container>

        <table class="full-width-input" cellspacing="0">
          <tr>
            <td>
              <mat-input-container class="full-width-input">
                <input matInput [matDatepicker]="picker" placeholder="Prazo"
                       readonly="true" (focus)="picker.open()" (click)="picker.open()"
                       formControlName="projDataInicial" required
                       (dateChange)="validaPrazo($event)">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error>
                  {{getErrorMessageDate('projDataInicial')}}
                </mat-error>
              </mat-input-container>
            </td>
            <td>
              <div class="space"></div>
            </td>
            <td>
              <mat-input-container class="full-width-input">
                <input matInput [matDatepicker]="picker2" [min]="minDate"
                       readonly="true" (focus)="picker2.open()" (click)="picker2.open()"
                       formControlName="projDataFinal" required
                       (dateChange)="validaPrazo($event)">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
                <mat-error>
                  {{getErrorMessageDate('projDataFinal')}}
                </mat-error>
              </mat-input-container>
            </td>
          </tr>
        </table>

        <mat-input-container class="full-width-input">
          <input matInput placeholder="Responsável"
                 [formControl]="projFuncId"
                 [matAutocomplete]="auto"
                 required>
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFuncionario">
            <mat-option *ngFor="let funcionario of funcionarios" [value]="funcionario" class="options">
              {{ funcionario?.funcNome }}
            </mat-option>
          </mat-autocomplete>
          <mat-error>
            Informe o responsável
          </mat-error>
        </mat-input-container>

        <mat-form-field id="mff-area" class="full-width-input">
          <mat-select placeholder="Área do Projeto"
                      [compareWith]="compareArea"
                      formControlName="areas" multiple required>
            <mat-option *ngFor="let area of areasPesquisa" [value]="area">{{area.nome}}</mat-option>
          </mat-select>
          <mat-error>Informe a(s) área(s)</mat-error>
        </mat-form-field>

        <mat-form-field id="mff-tipo" class="full-width-input">
          <mat-select [compareWith]="compareTipo"
                      placeholder="Tipo de Projeto"
                      formControlName="projTipo"
                      required>
            <mat-option *ngFor="let tipo of tiposProjeto" [value]="tipo">{{tipo.tiprNome}}</mat-option>
          </mat-select>
          <mat-error>Informe o(s) tipo(s)</mat-error>
        </mat-form-field>


        <mat-form-field id="mff-enquadrabilidade" class="full-width-input">
          <mat-select placeholder="Enquadrabilidade" formControlName="projEnquadrabilidade"
                      [compareWith]="compareArea"
                      multiple required>
            <mat-option *ngFor="let enquadrabilidade of enquadrabilidades" [value]="enquadrabilidade">
              {{enquadrabilidade.titulo}}
            </mat-option>
          </mat-select>
          <mat-error>Informe a enquadrabilidade</mat-error>
        </mat-form-field>

        <mat-input-container class="full-width-input">
          <mat-chip-list #chipListMembro>
            <mat-chip *ngFor="let tagMembro of chipsMembros"
                      (remove)="removeMembro(tagMembro)"
                      color="primary">
              {{tagMembro.funcNome}}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input [matChipInputFor]="chipListMembro" placeholder="Membros"
                   [formControl]="projMembro"
                   [matChipInputAddOnBlur]="true"
                   [matAutocomplete]="autocompleteMembros"
                   #chipInputMembro>
          </mat-chip-list>
          <mat-autocomplete #autocompleteMembros="matAutocomplete"
                            [displayWith]="displayFuncionario"
                            (optionSelected)="addMembro($event)">
            <mat-option *ngFor="let membro of membros"
                        [value]="membro"
                        class="options">
              <span>{{ membro?.funcNome }}</span>
            </mat-option>
          </mat-autocomplete>
        </mat-input-container>

        <mat-input-container class="full-width-input">
          <input class="valor-projeto" matInput placeholder="Valor"
                 formControlName="projValor" required
                 currencyMask
                 [options]="{ prefix: '', thousands: '.', decimal: ',',allowNegative:false}">

          <mat-error>
            Informe o valor do projeto
          </mat-error>
        </mat-input-container>

      </form>

    </mat-card-content>

  </mat-card>
</div>
