.funcionario {
  color: #000000;
  opacity: 0.5;
  font-size: 20px;
}

.left {
  text-align: left !important;
  margin-left: 0px;
}

.mat-card {
  min-width: 302px;
  max-height: 172px;
  min-height: 172px;
}
