<div fxFlex="15%">
  <mat-card class="left">
    <mat-card-header>
      <mat-card-title>Orçamento</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="cronograma">
        <p>Cronograma</p>

      </div>
      <div class="content">
        <p>Verba Total</p>
        <p>{{222222222 | currency: 'BRL': true}}</p>
      </div>

      <div class="content">
        <p>Custo Total</p>
        <p>{{222222222 | currency: 'BRL': true}}</p>
      </div>

      <div class="content">
        <p>Saldo</p>
        <p style="float: right;">{{222222222 | currency: 'BRL': true}}</p>
      </div>
    </mat-card-content>

  </mat-card>

</div>

