.mat-button {
  font-size: 16px;
  text-align: left;
  font-weight: 600;
}

.menu-layout > .mat-button {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.menu-layout:hover {
  background-color: #388E3C;
  color: white;

}

