<div class="flex-end">
  <a (click)="redirectProvisaoCreate()" mat-button>NOVA FOLHA</a>
</div>

<div class="content-funcionario-detail">

  <mat-card *ngFor="let funcProvisao of listProvisao ">
    <mat-card-title>
      <span class="title-mes">{{getMesByReferencia(funcProvisao.fuprReferencia)}} de {{funcProvisao.fuprReferencia.toString().slice(0,4)}}</span>
    </mat-card-title>

    <mat-card-content>

      <p class="label-subtitle">Provisão total</p>
      <span class="subtitle-card">{{funcProvisao.fuprTotalGeral | currency: 'BRL'}}</span>

      <mat-divider></mat-divider>

      <div class="flex-end">

        <a mat-button (click)="redirectProvisaoEdit(funcProvisao.fuprId)">EDITAR</a>

        <a mat-button (click)="deleteProvisao(funcProvisao)">EXCLUIR</a>

      </div>

    </mat-card-content>

  </mat-card>

</div>
