<div class="main-div">

  <mat-card class="mat-card-dispendio">
    <mat-card-content>
      <mat-card-title style="opacity: 0.87 !important;">Adicionar Dispêndio</mat-card-title>
      <mat-divider></mat-divider>

      <form [formGroup]="dispendioForm">

        <mat-input-container class="full-width-input">
          <input matInput placeholder="Título" type="text" formControlName="prdiTituloFatura" required>
          <mat-error *ngIf="isFieldInvalid('prdiTituloFatura')">
            Informe um título da fatura
          </mat-error>
        </mat-input-container>

        <mat-input-container class="full-width-input">
          <input matInput placeholder="Tipo de dispêndio" type="text"
                 formControlName="prdiTidiId" [matAutocomplete]="auto" required>
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayTipoDispendio">
            <mat-option *ngFor="let tipodispendio of tiposdispendios" [value]="tipodispendio" class="options">
              {{ tipodispendio.tidiNome }}
            </mat-option>
          </mat-autocomplete>
        </mat-input-container>

        <mat-input-container class="full-width-input">
          <input matInput placeholder="Descrição" type="text" formControlName="prdiDescricao" required>
          <mat-error *ngIf="isFieldInvalid('prdiDescricao')">
            Informe a descrição
          </mat-error>
        </mat-input-container>

        <mat-input-container class="full-width-input">
          <input matInput placeholder="Justificativa" type="text" formControlName="prdiJustificativa" required>
          <mat-error *ngIf="isFieldInvalid('prdiJustificativa')">
            Informe a justificativa
          </mat-error>
        </mat-input-container>

        <mat-input-container class="full-width-input">
          <input matInput placeholder="Nota fiscal nro" type="text" formControlName="prdiNotaFiscal" required>
          <mat-error *ngIf="isFieldInvalid('prdiNotaFiscal')">
            Informe a justificativa
          </mat-error>
        </mat-input-container>


        <table class="full-width-input" cellspacing="0">
          <tr>
            <td>
              <mat-input-container class="full-width-input">
                <input matInput [matDatepicker]="picker" placeholder="Data da nota" formControlName="prdiDataNotaFiscal"
                       required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="isFieldInvalid('prdiDataNotaFiscal')">Informe a data da nota</mat-error>
              </mat-input-container>
            </td>
            <td>
              <mat-input-container class="full-width-input">
                <input matInput [matDatepicker]="picker2" placeholder="Data do pagamento"
                       formControlName="prdiDataPagamento" required>
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>

                <mat-error *ngIf="isFieldInvalid('prdiDataPagamento')">Informe o prazo</mat-error>
              </mat-input-container>
            </td>
          </tr>
        </table>

        <mat-input-container class="full-width-input">
          <input matInput placeholder="Anexo" type="text" formControlName="prdiAnexoId">
        </mat-input-container>


      </form>

      <div class="content">
        <a mat-button routerLink="">
          Cancelar
        </a>
        <button mat-raised-button (click)="salvarDispendio(dispendioForm.value)" type="submit"
                [disabled]="dispendioForm.invalid"
        >
          ADICIONAR
        </button>
      </div>
    </mat-card-content>

  </mat-card>
</div>
