<div class="main-div">

  <mat-card class="mat-card-dispendio">
    <mat-card-content>

      <form [formGroup]="dispendioForm">


        <mat-input-container class="full-width-input">
          <input matInput placeholder="Título" type="text" formControlName="prdiTituloFatura" required>
          <mat-error *ngIf="isFieldInvalid('prdiTituloFatura')">
            Informe um título da fatura
          </mat-error>
        </mat-input-container>


        <mat-input-container class="full-width-input">
          <mat-select placeholder="Tipo de dispêndio"
                      formControlName="prdiTidiId" required
                      [errorStateMatcher]="errorMatcher">
            <mat-option *ngFor="let tipodispendio of tiposdispendios" [value]="tipodispendio" class="options">
              {{ tipodispendio.tidiNome }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="dispendioForm.get('prdiTidiId').hasError('required')">
            Informe o tipo de dispêndio
          </mat-error>
        </mat-input-container>

        <mat-input-container class="full-width-input">
          <input matInput placeholder="Descrição Serviço / Aquisição"
                 type="text" formControlName="prdiDescricao">
          <mat-error *ngIf="isFieldInvalid('prdiDescricao')">
            Informe a descrição
          </mat-error>
        </mat-input-container>

        <mat-input-container class="full-width-input">
          <input matInput placeholder="Justificativa"
                 type="text"
                 formControlName="prdiJustificativa" required>
          <mat-error *ngIf="isFieldInvalid('prdiJustificativa')">
            Informe uma justificativa
          </mat-error>
        </mat-input-container>

        <mat-input-container class="full-width-input">
          <input class="input-valor" matInput placeholder="Valor"
                 formControlName="prdiValor" required
                 currencyMask
                 [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">

          <mat-error *ngIf="isFieldInvalid('prdiValor')">
            {{getErrorMessage()}}
          </mat-error>
        </mat-input-container>

      </form>

      <div class="flex-end">
        <button mat-raised-button (click)="salvarDispendio(dispendioForm.value)" type="submit"
                [disabled]="dispendioForm.invalid">
          <span class="action-buttons">SOLICITAR</span>
        </button>
      </div>
    </mat-card-content>

  </mat-card>
</div>
