.content {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

.center {
  display: flex;
  justify-content: center;

}

.mat-card-title {
  font-size: 20px;
  font-family: 'Open Sans', 'SemiBold';
  font-weight: bold;
  color: #000000;
}

.left {
  text-align: left !important;
}

.mat-card-header {
  text-align: left !important;
}

.mat-card {
  display: flex;
  flex-direction: column;
  margin: 10px;
  height: 287px !important;
  width: 375px !important;
}
