.mat-card-title  {
  font-size: 20px;
  font-weight: 600;
}

.content {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 400;
}


.center {
  display: flex;
  justify-content: center;

}

.mat-card-link {
  font-size: 16px;
  font-weight: bold;
  color: #388E3C;
  font-family: "Open Sans Condensed";
}
.mat-card-link:hover{
  cursor: pointer;
}


.left {
  text-align: left !important;
}

.mat-card-header {
  text-align: left !important;
}

.mat-card {
  display: flex;
  flex-direction: column;
  margin: 10px;
  height: 287px !important;
  width: 375px !important;
}
