<div style="background: #4CAF50;">
  <mat-card>
    <div>
      <img src="/assets/images/sgpitbam.svg" style="width: 50%;padding: 5%;">

    </div>

    <mat-card-content>

      <form [formGroup]="loginForm">
              <mat-input-container class="full-width-input">
          <input matInput placeholder="E-mail" type="email" formControlName="email" required>
          <mat-error *ngIf="isFieldInvalid('email')">
            Informe seu email
          </mat-error>
        </mat-input-container>

        <mat-input-container class="full-width-input">
          <input matInput type="password" placeholder="Senha"
                 formControlName="senha" required>
          <mat-error *ngIf="isFieldInvalid('senha')">
            Informa sua senha
          </mat-error>
        </mat-input-container>

        <button mat-raised-button color="primary" (click)="onSubmit()" type="submit" [disabled]="loginForm.invalid">
          Login
        </button>
      </form>

    </mat-card-content>

  </mat-card>
</div>
