<div class="main-div">

  <mat-card class="center">


    <mat-card-content>
      <div>
        <img class="logo-sgp" src="/assets/images/marca-sgp.svg">
      </div>

      <form [formGroup]="loginForm" (keyup.enter)="onSubmit()">
        <mat-input-container class="full-width-input">
          <input matInput placeholder="E-mail" type="email" formControlName="email" required>
          <mat-error *ngIf="isFieldInvalid('email')">
            {{getErrorMessage()}}
          </mat-error>
        </mat-input-container>

        <mat-input-container class="full-width-input">
          <input matInput type="password" placeholder="Senha"
                 formControlName="senha" required>
          <mat-error *ngIf="isFieldInvalid('senha')">
            Informa sua senha
          </mat-error>
        </mat-input-container>
      </form>


      <div class="content">
        <button mat-button [disabled]="true">
          <span class="footer">  Esqueci minha senha</span>
        </button>
        <button mat-button (keydown.enter)="onSubmit()"
                (click)="onSubmit()" type="submit">
          <span class="footer">Entrar</span>
        </button>
      </div>


      <div>
        <img class="logo-transire" src="/assets/images/marca-transire.svg">
      </div>
    </mat-card-content>
  </mat-card>
</div>
