.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.mat-card {
  display: flex;
  flex-direction: column;
 // margin: 10px;
  height: 182px !important;
  width: 323px !important;

}


.title {
  font-size: 20px;
  margin-bottom: 0.5em;
  font-family: "Open Sans Condensed";
  font-weight: bold;
}

@media only screen and (min-width: 37.50em) {
  .mat-card {
    max-width: calc(40% - 20px);
  }
}

@media only screen and (min-width: 75em) {
  .mat-card {
    width: calc(23.33333% - 20px);
  }
}

.mat-button {
  font-family: "Open Sans Condensed";
  font-size: 16px !important;
  font-weight: bold;
}

.tipo {
  color: #03A9F4;
}

.valor {
  font-size: 24px;
  margin-bottom: 0.5em;
  font-family: "Open Sans";
}

.name {
  font-size: 12px;
  color: #000000;
  opacity: 0.38;
}

::ng-deep .mat-tab-labels {
  justify-content: center; /* align items in Main Axis */
}

::ng-deep .mat-tab-label {
  color: #388E3C;
  font-weight: 600;
  font-size: 13px;
  font-family: "Open Sans Condensed";
}

.detail-dispendio:hover {
  //border-radius: 1px;
  cursor: pointer;
}

::ng-deep .mat-ink-bar {
  height: 5px !important;
}
