<mat-card>
  <mat-card-title>Resumo de Dispêndios</mat-card-title>
  <app-pie-chart [colors]="chartColors"
                 [chartData]="listaTipoDispendioValor"
                 [chartLabel]="listaTipoDispendioNome"
                 *ngIf="listaDispendio.length>0">
  </app-pie-chart>

  <mat-card-content *ngIf="listaDispendio.length>0">

    <table class="full-width" cellspacing="0">

      <tr *ngFor="let dispendio of tiposDispendiosValor | async; let i = index" [ngStyle]="{'font-size.px':14}"
          [style.color]="color[i]">
        <td>
          <span>
         <mat-icon>fiber_manual_record</mat-icon>
          </span>
        </td>
        <td>
          <a class="link-tipo" (click)="goToListDispendiosByTipo(dispendio.tidiId)">{{dispendio.tidiNome}}</a>
        </td>
        <td>
          <p>{{dispendio.total | currency: 'BRL'}}</p>
        </td>
        <mat-divider></mat-divider>
      </tr>
    </table>

  </mat-card-content>

  <mat-card-footer *ngIf="listaDispendio.length>0">
    <a class="mat-card-link center" (click)="verTodos()">VER TODOS</a>
  </mat-card-footer>

  <p *ngIf="listaDispendio.length==0">Nenhum dispêndio foi adicionado ao projeto</p>
</mat-card>
