<div class="flex-end">

  <a routerLink="/funcionario-create" class="button-add" mat-button>NOVO USUÁRIO</a>

</div>

<div class="content-funcionarios">

  <mat-card *ngFor="let funcionario of funcionarios" (click)="redirectFuncionarioDetail(funcionario)">
    <mat-card-header>

      <mat-card-title>
        <span class="title">{{funcionario.funcNome}}</span>
      </mat-card-title>

    </mat-card-header>

    <mat-card-content>
      <mat-divider></mat-divider>
      <p>{{funcionario.funcEmail}}</p>
      <p>{{funcionario.funcCargId?.cargNome}}</p>
    </mat-card-content>
  </mat-card>
</div>
