<div style="height: 100vh;">

  <mat-toolbar color="primary">
    <div fxShow="true" fx.gt-sm="true">
      <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
     </div>
    <h1 class="app-name">SGP</h1>
         <span class="spacer"></span>
    <app-search-bar></app-search-bar>
      </mat-toolbar>

  <mat-sidenav-container fxFlexFill class="example-container">

    <mat-sidenav #sidenav fxLayout="column">



      <div fxLayout="column">

        <div *ngFor="let menu of menus">

        </div>
        <a href="#" mat-button>Menu Item 1</a>

        <a href="#" mat-button>Menu Item 2</a>

        <a href="#" mat-button>Menu Item 3</a>

        <a href="#" mat-button>Menu Item 4</a>

        <a href="#" mat-button>Menu Item 5</a>

        <a href="#" mat-button>Menu Item 6</a>

      </div>

    </mat-sidenav>

    <mat-sidenav-content fxFlexFill>
      <router-outlet></router-outlet>
      </mat-sidenav-content>
  </mat-sidenav-container>

</div>
