<mat-tab-group>

  <mat-tab label="INFORMAÇÕES GERAIS" class="mat-tab-label">

    <app-projeto-cronograma [projeto]="projeto" [diasProjeto]="qtdDiasProjeto"
                            [diasEmUso]="qtdDiasUtilizados" [percCronograma]="percCronogramaUtilizado">
    </app-projeto-cronograma>

    <app-projeto-orcamento [custoTotal]="projeto.custoTotal"
                           [valorTotal]="projeto.projValor">

    </app-projeto-orcamento>
    <app-projeto-contatos></app-projeto-contatos>
    <app-projeto-equipe></app-projeto-equipe>

  </mat-tab>
  <mat-tab label="ORÇAMENTOS">
    <app-orcamento-slider [custoTotal]="projeto.custoTotal"
                          [valorTotal]="projeto.projValor"
                          [percOrcamento]="(((projeto.custoTotal *100)/projeto.projValor).toFixed(2))">
    </app-orcamento-slider>

    <app-resumo-dispendios [listDispendios]="listDispendioNome"
                           [listValorDispendio]="listDispendioValor">
    </app-resumo-dispendios>
  </mat-tab>

  <mat-tab label="ATIVIDADES">
    <div class="demo-tab-content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue.
      ...
    </div>
  </mat-tab>
  <mat-tab label="RELATÓRIOS">
    <div class="demo-tab-content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue.
      ....
      <br/>
      <br/>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue.
      ....
    </div>
  </mat-tab>
</mat-tab-group>

