.projeto {
  padding-top: 20px;
  text-align: center
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.mat-button {
  font-family: "Open Sans Condensed";
  font-size: 16px !important;
  font-weight: bold;
}

::ng-deep .mat-tab-labels {
  justify-content: center; /* align items in Main Axis */
}

::ng-deep .mat-tab-label {
  color: #388E3C;
  font-weight: bold;
  font-size: 16px;  font-family: "Open Sans Condensed", sans-serif;
}

