<mat-tab-group (selectedTabChange)="onLinkClick($event)">

  <mat-tab label="INFORMAÇÕES GERAIS" class="mat-tab-label">

    <app-projeto-cronograma [projeto]="projeto" [diasProjeto]="qtdDiasProjeto"
                            [diasEmUso]="qtdDiasUtilizados" [percCronograma]="percCronogramaUtilizado">
    </app-projeto-cronograma>

    <app-projeto-orcamento [custoTotal]="projeto.custo"
                           [valorTotal]="projeto.projValor">

    </app-projeto-orcamento>
    <app-projeto-contatos></app-projeto-contatos>
    <app-projeto-equipe></app-projeto-equipe>

  </mat-tab>
  <mat-tab label="ORÇAMENTOS">
    <app-orcamento-slider [custoTotal]="projeto.custo"
                          [valorTotal]="projeto.projValor"
                          [percOrcamento]="(((projeto.custo *100)/projeto.projValor).toFixed(2))">
    </app-orcamento-slider>

    <app-resumo-dispendios [dispendios]="projeto.dispendios">
    </app-resumo-dispendios>
  </mat-tab>

  <mat-tab label="ATIVIDADES">
    <app-projeto-atividades [atividades]="projeto.atividades"
                            [projId]="projeto.projId"></app-projeto-atividades>

  </mat-tab>

  <mat-tab label="RELATÓRIOS">
    <div class="demo-tab-content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue.
      ....
      <br/>
      <br/>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue.
      ....
    </div>
  </mat-tab>


</mat-tab-group>



