<mat-card class="left" (click)="goToProjectDetail()">
  <mat-card-header>
    <mat-card-title>{{projeto.projSiprId.siprNome}}</mat-card-title>
    <mat-card-subtitle>{{projeto.projNome}}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <span style="font-size: 12px;margin-bottom: 10px;">Coordenador</span>
    <p style="font-size: 20px;margin-top: 10px;">Emanuel Junior da Silveira</p>
    <mat-divider></mat-divider>

    <p>Cronograma</p>
    <app-range-slider [minParam]="0" [maxParam]="100"
                      [valueParam]="getCronogramaByProjeto()">

    </app-range-slider>


    <p>Custo</p>
    <app-range-slider [minParam]="0" [maxParam]="100"
                      [valueParam]="getCronogramaByProjeto() ">

    </app-range-slider>

    <mat-divider></mat-divider>
    <div class="Total dispendio">
      <p style="font-size: 12px;margin-bottom: 10px;">Total Dispêndios</p>
      <p style="font-size: 20px;margin-top: 0px;">{{2000 | currency: 'BRL': 'symbol' }}</p>
    </div>
    <div class="orcamento">
      <p style="font-size: 12px;margin-bottom: 10px !important;">Orçamento</p>
      <p style="font-size: 20px;margin-bottom: 10px">{{1000 | currency: 'BRL': 'symbol'}}</p>
    </div>


  </mat-card-content>
  <mat-card-footer>

  </mat-card-footer>
</mat-card>


