<mat-card class="left">
  <mat-card-header>
    <mat-card-title> Em Andamento</mat-card-title>
    <mat-card-subtitle>{{projeto.projNome}}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <p style="font-size: 12px;margin-bottom: 0px;">Coordenador</p>
    <p style="font-size: 20px;margin-top: 0px;">Emanuel Junior da Silveira</p>
    <p>Cronograma</p>

    <p>Custo</p>


  </mat-card-content>
  <mat-card-footer class="left">
    <div class="dispendio">
      <p style="font-size: 12px;margin-bottom: 0px;">Total Dispêndios</p>
      <p style="font-size: 20px;margin-top: 0px;">{{totalOrcamento(projeto.projId) | currency: 'BRL': 'symbol' }}</p>
    </div>
    <div class="orcamento">
      <p style="font-size: 12px;margin-bottom: 0px;">Orçamento</p>
      <p style="font-size: 20px;margin-top: 0px;">{{projeto.projVerbaInicial | currency: 'BRL': 'symbol'}}</p>
    </div>

  </mat-card-footer>
</mat-card>


