<div class="flex-end">
  <a routerLink="/projeto-create" mat-button>NOVO PROJETO</a>
</div>

<div class="content-projetos">

  <mat-card *ngFor="let projeto of projetos" (click)="goToProjectDetail(projeto)">

    <span class="title-card">{{projeto.projSiprId.siprNome?.toUpperCase()}}</span>

    <mat-card-subtitle>
      <span class="subtitle-card" style="margin-top: 0px;">{{projeto.projNome}}</span>
    </mat-card-subtitle>

    <mat-card-content>

      <p style="font-size: 12px;">Coordenador</p>
      <p style="font-size: 18px;margin-top: 0px;color: #000000">{{projeto.projFuncId.funcNome}}</p>

      <mat-divider></mat-divider>

      <div class="cronograma"><!-- lentidao aqui !-->
        <p style="margin-bottom: 17px">Cronograma</p>
        <app-range-slider [minParam]="0" [maxParam]="100"
                          [valueParam]="projeto.cronograma">
        </app-range-slider>
      </div>

      <div class="cronograma" style="margin-top: -30px"><!-- lentidao aqui !-->
        <p style="margin-bottom: 17px">Custo</p>
        <app-range-slider [minParam]="0" [maxParam]="100"
                          [valueParam]="((projeto.custo * 100)/projeto.projValor)>100?100:((projeto.custo * 100)/projeto.projValor).toFixed(0)">
        </app-range-slider>
      </div>

      <mat-divider></mat-divider>

      <div class="custo" *ngIf="projeto.custo && projeto.custo>0; else cadastrar ">
        <p style="font-size: 12px;margin-bottom: 0px;">Total Dispêndios</p>
        <p style="font-size: 20px;margin-top: 0px;">{{projeto.custo | currency: 'BRL':
          'symbol' }}</p>
      </div>
      <ng-template #cadastrar>
        <p class="cadastrar">COMPLETE O CADASTRO</p>
      </ng-template>


      <div class="orcamento">
        <p style="font-size: 12px;margin-bottom: 0px;">Orçamento</p>
        <p style="font-size: 20px;margin-top: 0px;">{{projeto.projValor | currency: 'BRL':
          'symbol'}}</p>
      </div>

    </mat-card-content>
  </mat-card>
</div>


<div *ngIf="projetos?.length === 0">
  <p>
    Funcionário não faz parte de nenhum projeto
  </p>
</div>



