.content {
  min-width: 300px;
  min-height: 400px;
}

.projeto {
  padding-top: 20px;
  text-align: center
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  color: #388E3C;
  opacity: 1;

}

.mat-button {
  font-family: "Open Sans", "Condensed Bold";
  font-size: 16px;
  font-weight: bold;
  opacity: 1;
}
