.content {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

.mat-card-title {
  font-size: 20px;
  font-weight: 600;
}

.center {
  display: flex;
  justify-content: center;

}

.mat-card-link {
  font-size: 16px;
  font-weight: 700;
  color: #388E3C;
  font-family: "Open Sans Condensed";
  text-decoration: none;
}

.left {
  text-align: left !important;
  margin-left: 0px;
}

.mat-card-header {
  text-align: left !important;
  margin-left: 0px;
}

.mat-card {
  display: flex;
  flex-direction: column;
  margin: 10px;
  max-height: 287px !important;
  width: 375px !important;

}

.mat-card-content {
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 0px; /* remove scrollbar space */
  background: transparent; /* optional: just make scrollbar invisible */
}

