<mat-card>

  <mat-card-title>Equipe</mat-card-title>

  <mat-card-content>

    <div *ngFor="let funcionario of equipe | orderBy: order">

      <span class="title-item">{{funcionario.funcCargId.cargNome}}</span>
      <div class="space-between">

        <span class="title-projeto-detalhe">{{funcionario.funcNome}}</span>
        <span>
          <a class="mat-card-link" routerLink="['/ativiades']">LIGAR</a>
          <a class="mat-card-link" routerLink="['/ativiades']">E-MAIL</a>
        </span>
      </div>
    </div>

    <p *ngIf="!equipe || equipe?.length===0">
      Projeto sem equipe
    </p>
  </mat-card-content>
</mat-card>
