<div fxFlex="15%">
  <mat-card>
    <mat-card-header class="header">
      <mat-card-title>Equipe</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>

      <div class="contatos">
        <p>Usuário Função</p>
        <p>Usuário Função
          <a class="mat-card-link" routerLink="['/ativiades']">LIGAR</a>
          <a class="mat-card-link" routerLink="['/ativiades']">E-MAIL</a>
        </p>
      </div>
    </mat-card-content>
  </mat-card>
</div>

