/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~material-design-icons/iconfont/material-icons.css';

body,
html {
  margin: 0;
}

.title-card {
  margin-bottom: 10px;
  font-weight: 400;
  color: #00C853;
  font-size: 12px;
}

.subtitle-card {
  font-size: 20px;
  font-weight: 600;
  color: black;
  opacity: 0.87;
}

.action-buttons {
  font-size: 16px;
  color: #388E3C;
  font-weight: bold;
  font-family: "Open Sans Condensed";
  opacity: 1;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  color: #388E3C;
  opacity: 1;
}

.space {
  padding: 10px;
}

.mat-form-field-label {
  color: #4CAF50 !important;
  background-color: white;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.title-projeto-detalhe {
  font-size: 20px;
  font-weight: 600;
}

.title-item {
  font-size: 12px;
  font-weight: 400;
}

.space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

//referente a butões de novo recurso do sistema
.button-add {
  font-family: "Open Sans Condensed" !important;
  font-size: 16px !important;
  font-weight: bold !important;
}

.mat-chip {
  color: white !important;
  background-color: rgba(76, 175, 80, 1) !important;
}

.btn-search {
  font-size: 13px !important;
  font-weight: 600 !important;
}

.mat-option {
  height: 38px !important;
}

.mat-option:hover {
  background-color: rgba(56, 142, 60, 0.35) !important;
}

.mat-datepicker-toggle-default-icon {
  color: rgba(56, 142, 60, 0.87);
}

.mat-option-text {
  font-size: 16px;
  font-weight: 400;
}

.full-width-input {
  width: 100%;
  text-align: left !important;
}

.mat-pseudo-checkbox {
  width: 14px !important;
  height: 14px !important;
}

.mat-pseudo-checkbox-checked::after {
  width: 8px !important;
  height: 3px !important;
}

.mat-form-field {
  font-size: 16px !important;
}

.label-form {
  font-size: 12px;
  font-weight: 400;
  color: rgba(76, 175, 80, 1);
}

//.ng-valid[required], .ng-valid.required  {
//  border-left: 5px solid #42A948; /* green */
//}
//
//.ng-invalid:not(form)  {
//  border-left: 5px solid #a94442; /* red */
//}
