<mat-card>
  <mat-card-header>
    <mat-card-title>Orçamento</mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <app-range-slider [minParam]="0" [maxParam]="100"
                      [valueParam]="percOrcamento"
                      ></app-range-slider>

    <div class="content" style="margin-top: 39px;">
      <p style="font-size: 12px">Verba Total</p>
      <p style="font-size: 16px"> {{valorTotal | currency: 'BRL'}}</p>
    </div>

    <div class="content custo" style="margin-top: 21px;">
      <p style="font-size: 12px">Custos Totais</p>
      <p style="font-size: 16px">{{custoTotal | currency: 'BRL'}}</p>
    </div>


    <mat-divider></mat-divider>

    <div class="content" style="margin-top: 5px;">

      <p class="salto-text">Saldo</p>
      <p class="saldo">{{(valorTotal - custoTotal) | currency: 'BRL' }}</p>
    </div>

  </mat-card-content>

</mat-card>
