.mat-card-title {
  font-size: 20px;
  font-weight: 600;
}

.content {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

.center {
  display: flex;
  justify-content: center;

}

.mat-card-link {
  font-size: 16px;
  font-weight: 700;
  color: #388E3C;
  font-family: 'Open Sans Condensed';
  text-decoration: none;
}

.left {
  text-align: left !important;
  margin-left: 0px;
}

.mat-card-header {
  text-align: left !important;
  margin-left: 0px;
}

.mat-card {
  display: flex;
  flex-direction: column;
  margin: 10px;
  height: 287px !important;
  width: 375px !important;
}

.flex-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.tipo {
  color: #00C853;
}

.contatos {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: -30px;
}
