<mat-card>
  <mat-card-title>Contatos</mat-card-title>
  <mat-card-content>

    <div class="left">
         <span *ngFor="let area of areas" class="tipo">
        {{area?.nome}}
      </span>
    </div>

    <div class="space"></div>

    <span class="title-item">Responsável</span>
    <div class="space-between">

      <span class="title-projeto-detalhe">{{responsavel?.funcNome}}</span>
      <span>
          <a class="mat-card-link" routerLink="['/ativiades']">LIGAR</a>
          <a class="mat-card-link" routerLink="['/ativiades']">E-MAIL</a>
        </span>
    </div>

  </mat-card-content>
</mat-card>
