.content {
  font-size: 16px;
  font-family: 'Open Sans', 'Condensed Bold';
}

.center {
  display: flex;
  justify-content: center;
}

.mat-card-link {
  font-size: 16px;
  font-weight: bold;
  color: #388E3C;
  font-family: 'Open Sans', 'Condensed Bold';
}

.mat-card-title {
  font-size: 20px;
  font-family: "Open Sans", "Condensed Bold";
  font-weight: bold;
}



.custo {
  color: #F44336;
  opacity: 0.87;
}

.valor {
  color: #03A9F4;
  opacity: 0.87;
}

.saldo {
  color: #388E3C;
  opacity: 0.54;
  font-size: 24px;
}

.salto-text {
  color: #000000;
  opacity: 0.54;
  font-size: 16px;
}


.mat-card {
  display: flex;
  flex-direction: column;
margin: 10px;
  height: 311px !important;
  width: 399px !important;
}


